.center {
    margin-left: auto;
    margin-right: auto;
    /*min-width: 100px;
    max-width: 500px;*/
    width: 90%;
}

.signup-panel {
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 15px;
    margin-top: 30px;
}

.signup-panel i {
    font-size: 30px;
    line-height: 50px;
    color: #999;
}

.signup-panel form span.prefix,
.signup-panel form div>input[type=text],
.signup-panel form div>input[type=email],
.signup-panel form div>input[type=password],
.signup-panel form div>select {
    height: 50px;
}

.signup-panel form input[type=submit] {
    margin-top: 14px;
}

.signup-panel .welcome,
.signup-panel .failure-message {
    text-align: center;
    margin-left: 0;
}

/*.signup-panel .welcome {
    font-size: 26px;
}*/

/*.signup-panel .failure-message {
    color: #ffffff;
    background-color: #007095;
    padding: 10px;
}*/

p.failure-message {
	text-align: center;
    color: #ffffff;
    background-color: #007095;
    padding: 10px;
}

.signup-panel p {
    font-size: 13px;
    font-weight: 200;
    margin-left: 25%;
}

.signup-panel .button {
    /*margin-left: 35%;*/
    width: 100%;
}

.required::before {
    content: "*";
    vertical-align: top;
}

.required {
    color: #ff0000;
}